.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.1rem;
}

.progressbar-container {
    height: 15px;
    border: 2px solid black;
    border-radius: 10px;
}

.progressbar {
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}