.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.progressbar-container {
    height: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.progressbar {
    border-radius: 10px;
}