.search-box {
    display: flex;
    gap: 20px;
    align-items: center;
}

.search-input {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    outline: none;
}

.search-input:focus {
    border: #b38fadff solid 2px;
}