body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    padding: 20px;
    background-color: #edeae3;
}

.technologies-title {
    margin-bottom: 20px;
}

.technologies-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.filters-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    body {
        padding: 30px;
    }

    .header-box {
        grid-template-columns: 2fr 1fr;
    }
}
